<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>

<body>
    <header>

        <nav>
            <div class="bg-white w-full h-20 p-4 flex items-center justify-between">
                <!-- logo -->
                <a href="/">
                    <div class="w-40">
                        <img src="/static/assets/logo.webp" class="object-contain" alt="logo" />
                    </div>
                </a>

                <div class="hidden lg:block">
                    <ul class="flex gap-12">
                        <li class="font-semibold hover:text-zinc-600 active:opacity-75">
                            <a href="/">Home</a>
                        </li>
                        <li class="font-semibold hover:text-zinc-600 active:opacity-75">
                            <button id="dropdownHoverButton" data-dropdown-toggle="dropdownHover"
                                data-dropdown-trigger="hover" class="flex justify-center items-center" type="button">
                                Shop
                                <svg class="w-2.5 h-2.5 ms-2 pt-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                    fill="none" viewBox="0 0 10 6">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2" d="m1 1 4 4 4-4" />
                                </svg>
                            </button>

                            <!-- Dropdown menu -->
                            <div id="dropdownHover"
                                class="z-10 absolute hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44">
                                <ul class="py-2 text-sm text-gray-700 " aria-labelledby="dropdownHoverButton">
                                    <li>
                                        <a href="/category/shirt"
                                            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Shirt</a>
                                    </li>
                                    <li>
                                        <a href="/category/tshirt"
                                            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Tshirt</a>
                                    </li>
                                    <li>
                                        <a href="/category/jeans"
                                            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Jeans</a>
                                    </li>
                                    <li>
                                        <a href="/category/short"
                                            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Shorts</a>
                                    </li>
                                    <li>
                                        <a href="/category/hoodie"
                                            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Hoodies</a>
                                    </li>
                                    <li>
                                        <a href="/category/shoes"
                                            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Shoes</a>
                                    </li>
                                    <li>
                                        <a href="/category/accessories"
                                            class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Accessories</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="font-semibold hover:text-zinc-600 active:opacity-75">
                            <a href="/about">About</a>
                        </li>
                        <li class="font-semibold hover:text-zinc-600 active:opacity-75">
                            <a href="#contact">Contact</a>
                        </li>
                    </ul>
                </div>

                <!-- cart -->
                <div class="flex gap-1 lg:gap-3 justify-center items-center">
<!--                    <div class="hover:bg-gray-300 p-1 rounded-full active:opacity-75">-->
<!--                        <svg class="w-8 h-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="#000">-->
<!--                            <path-->
<!--                                d="M240-80q-33 0-56.5-23.5T160-160v-480q0-33 23.5-56.5T240-720h80q0-66 47-113t113-47q66 0 113 47t47 113h80q33 0 56.5 23.5T800-640v480q0 33-23.5 56.5T720-80H240Zm0-80h480v-480h-80v80q0 17-11.5 28.5T600-520q-17 0-28.5-11.5T560-560v-80H400v80q0 17-11.5 28.5T360-520q-17 0-28.5-11.5T320-560v-80h-80v480Zm160-560h160q0-33-23.5-56.5T480-800q-33 0-56.5 23.5T400-720ZM240-160v-480 480Z" />-->
<!--                        </svg>-->
<!--                    </div>-->

                    {% if request.session.login_id %}

                     <a href="/logout">
                        <div class="hover:bg-gray-300 p-1 rounded-full active:opacity-75" title="Logout">
                            <svg class="w-8 h-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="#000000">
                                <path
                                    d="M791-55 686-160H160v-112q0-34 17.5-62.5T224-378q45-23 91.5-37t94.5-21L55-791l57-57 736 736-57 57ZM240-240h366L486-360h-6q-56 0-111 13.5T260-306q-9 5-14.5 14t-5.5 20v32Zm496-138q29 14 46 42.5t18 61.5L666-408q18 7 35.5 14t34.5 16ZM568-506l-59-59q23-9 37-29.5t14-45.5q0-33-23.5-56.5T480-720q-25 0-45.5 14T405-669l-59-59q23-34 58-53t76-19q66 0 113 47t47 113q0 41-19 76t-53 58Zm38 266H240h366ZM457-617Z" />
                            </svg>
                        </div>
                    </a>

                    {% else %}


                    <a href="/login">
                        <div class="hover:bg-gray-300 p-1 rounded-full active:opacity-75" title="Login">
                            <svg class="w-8 h-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="#000000">
                                <path
                                d="M480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM160-160v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v112H160Zm80-80h480v-32q0-11-5.5-20T700-306q-54-27-109-40.5T480-360q-56 0-111 13.5T260-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T560-640q0-33-23.5-56.5T480-720q-33 0-56.5 23.5T400-640q0 33 23.5 56.5T480-560Zm0-80Zm0 400Z" />
                            </svg>
                        </div>
                    </a>

                    {% endif %}

                </div>
            </div>
        </nav>

        {% if order_success %}
            <div id="msg" class="bg-gray-100 py-4 text-lg font-semibold text-center">
                <p class="text-green-500">Your order has been placed successfully, and a confirmation email ha been sent.</p>
            </div>

        {% endif %}

        {% if order_error %}
            <div id="msg" class="bg-gray-100 py-4 text-lg font-semibold text-center">
                <p class="text-red-500">There was an issue with your order. Please try again.')</p>
            </div>

        {% endif %}
        
        {% if err %}
            <div class="bg-gray-100 py-4 text-lg font-semibold text-center">
                <p class="text-red-500">{{err}}</p>
            </div>
        {% endif %}

    </header>

    {% block main %}

    {% endblock %}

    <footer class="bg-white mt-16" id="contact">
        <div class="px-10 lg:px-36 py-5 border-t-2 border-slate-200">
            <div class="flex justify-around gap-2 flex-wrap lg:gap-0">
                <div class="hover:bg-slate-50 rounded-md w-full lg:w-1/3 h-full p-5 flex flex-col items-center gap-5">
                    <div class="capitalize tracking-widest text-center text-xl font-semibold">
                        Offline Store
                    </div>
                    <div class="w-full h-48">
                        <iframe class="w-full h-full rounded-md shadow"
                            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3672.2536817696164!2d72.5286438!3d23.014456!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e85c0f08200d1%3A0xf7c231d418756079!2sSNITCH%20-%20Shyamal!5e0!3m2!1sen!2sin!4v1722256956641!5m2!1sen!2sin"
                            style="border: 0" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>

                <div class="hover:bg-slate-50 rounded-md w-full lg:w-1/3 h-full p-5 flex flex-col items-center gap-5">
                    <div class="capitalize tracking-widest text-center text-xl font-semibold">
                        Quick Links
                    </div>
                    <div
                        class="w-full h-full px-10 pt-2 flex justify-between md:justify-evenly lg:justify-between gap-2 flex-wrap">
                        <ul class="flex flex-col h-full gap-2 font-semibold list-disc">
                            <li>
                                <a href="/"
                                    class="hover:underline hover:text-blue-700 capitalize text-sm active:opacity-75">Home</a>
                            </li>

                            <li>
                                <a href="/#shop"
                                    class="hover:underline hover:text-blue-700 capitalize text-sm active:opacity-75">shop</a>
                            </li>

                            <li>
                                <a href="/about"
                                    class="hover:underline hover:text-blue-700 capitalize text-sm active:opacity-75">about</a>
                            </li>

                            <li>
                                <a href="/contact"
                                    class="hover:underline hover:text-blue-700 capitalize text-sm active:opacity-75">contact</a>
                            </li>
                        </ul>

                        <ul class="flex flex-col h-full gap-2 font-semibold list-disc">
                            <li>
                                <a href="#"
                                    class="hover:underline hover:text-blue-700 capitalize text-sm active:opacity-75">return
                                    policy</a>
                            </li>

                            <li>
                                <a href="#"
                                    class="hover:underline hover:text-blue-700 capitalize text-sm active:opacity-75">privacy
                                    policy</a>
                            </li>

                            <li>
                                <a href="#"
                                    class="hover:underline hover:text-blue-700 capitalize text-sm active:opacity-75">terms
                                    & conditions</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="hover:bg-slate-50 rounded-md w-full lg:w-1/3 h-full p-5 flex flex-col items-center gap-5">
                    <div class="capitalize tracking-widest text-center text-xl font-semibold">
                        Costomer Care
                    </div>
                    <div class="w-full text-center flex justify-center pt-2">
                        <ul class="tracking-widest flex flex-col text-left gap-3 font-medium text-sm">
                            <li>
                                <p>
                                    Timings :
                                    <span class="uppercase">10AM - 7PM (Mon - Sat)</span>
                                </p>
                            </li>
                            <li>
                                <p>
                                    Whatsapp :
                                    <a
                                        href="https://api.whatsapp.com/send?phone=9173402267&text=Hello!"
                                        class="tracking-tight hover:underline hover:text-blue-700 text-sm cursor-pointer">
                                        <span> +91 9173402267 </span>
                                    </a>
                                </p>
                            </li>
                            <li>
                                <p>
                                    Instagram :
                                    <a
                                            href="https://www.instagram.com/snitch.co.in/?hl=en"
                                        class="tracking-tight hover:underline hover:text-blue-700 text-sm cursor-pointer">@snitch.shop</a>
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="bg-slate-200 p-5 text-center flex flex-col gap-1">
            <p class="text-sm tracking-tighter">
                Made in India, for the World 🌍
            </p>
            <p class="text-sm tracking-widest">
                &copy; 2024 SNITCH. All Rights Reserved
            </p>
        </div>
    </footer>

    <script src="/static/scripts.js"></script>
</body>

</html>