{% extends 'base.html' %}

{% block main %}


        <main>
            <section>
                <div class="p-5">
                    <!-- grid col-2 -->
                    <div class="grid grid-cols-2 h-screen gap-5">
                        <!-- grid-col2 -->
                        <div class="flex overflow-hidden">
                            <div
                                class="w-1/4 px-5 py-3 gap-2 grid grid-cols-1 grid-rows-5"
                            >
                                {% for img in imgs %}
                                    {% if img != null %}
                                <div class="overflow-hidden">
                                    <img
                                        src={{img}}
                                        alt=""
                                        class="hover:scale-110 transition-transform duration-500 object-contain w-full h-full"
                                    />
                                </div>
                                {% endif %}

                                {% endfor %}

                            </div>
                            <div class="w-3/4">
                                <img
                                    src={{product.cover}}
                                    alt=""
                                    class="hover:scale-110 transition-transform duration-500 object-contain w-full h-full"
                                />
                            </div>
                        </div>
                        <div>
                            <div class="px-2 py-5">
                                <h1 class="text-5xl py-2">{{product.name}}</h1>

                                <p class="pt-2 text-xl">
                                    Rs.{{product.price}} <strike>Rs.2000</strike>
                                </p>

                                <div class="py-4">
                                    <div class="flex items-center">
                                        <svg
                                            class="w-6 h-6 text-yellow-300 ms-1"
                                            aria-hidden="true"
                                            xmlns="http://www.w3.org/2000/svg"
                                            fill="currentColor"
                                            viewBox="0 0 22 20"
                                        >
                                            <path
                                                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
                                            />
                                        </svg>
                                        <svg
                                            class="w-6 h-6 text-yellow-300 ms-1"
                                            aria-hidden="true"
                                            xmlns="http://www.w3.org/2000/svg"
                                            fill="currentColor"
                                            viewBox="0 0 22 20"
                                        >
                                            <path
                                                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
                                            />
                                        </svg>
                                        <svg
                                            class="w-6 h-6 text-yellow-300 ms-1"
                                            aria-hidden="true"
                                            xmlns="http://www.w3.org/2000/svg"
                                            fill="currentColor"
                                            viewBox="0 0 22 20"
                                        >
                                            <path
                                                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
                                            />
                                        </svg>
                                        <svg
                                            class="w-6 h-6 text-yellow-300 ms-1"
                                            aria-hidden="true"
                                            xmlns="http://www.w3.org/2000/svg"
                                            fill="currentColor"
                                            viewBox="0 0 22 20"
                                        >
                                            <path
                                                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
                                            />
                                        </svg>
                                        <svg
                                            class="w-6 h-6 ms-1 text-gray-300 dark:text-gray-500"
                                            aria-hidden="true"
                                            xmlns="http://www.w3.org/2000/svg"
                                            fill="currentColor"
                                            viewBox="0 0 22 20"
                                        >
                                            <path
                                                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
                                            />
                                        </svg>
                                    </div>
                                </div>

                                <div style="margin-top:20px">
                                    <a href="/purchase/{{product.id}}" class="bg-gray-700 text-white px-10 py-4 rounded hover:scale-105 duration-200 transition-transform capitalize text-lg font-semibold">
                                        Buy now
                                    </a>
                                </div>

                            </div>
                            <div class="py-8">
                                <h1 class="capitalize text-3xl text-center">Featured Products</h1>
                                <div class="grid grid-cols-5 py-8 gap-4">
                                    {% for item in trending %}
                                    <a href="/product/{{item.id}}">
                                    <div class="bg-green-300 rounded-md overflow-hidden">
                                        <img src={{item.cover}} alt="" class="hover:scale-110 transition-transform duration-500" srcset="">
                                    </div>
                                    </a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>


{% endblock %}